@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700;900&family=Inter:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .glass-effect {
        @apply bg-[#1c1b1b]/45;
        backdrop-filter: blur(24px);
    }
    
    .glass-card {
        background: linear-gradient(135deg, rgba(54, 89, 95, 0.2) 0%, rgba(32, 31, 31, 0.4) 100%);
        backdrop-filter: blur(20px);
    }
}
